@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');


h1{
  font-family: 'Press Start 2P'
}
p{
  font-family: Quicksand
}
body{
  background-color: #0E0E52;
  color: lightcyan;
}
.board{
  height: 500px;
  width: 200px;
}
.row{
  display: flex
}
.square{
  height: 20px;
  width: 20px;
  border: solid LightCyan 1px;
  background-color: lightblue;
}
.occupied{
  background-color: grey;
}
.active{
  background-color: red;
}
body{
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  height: 100%;
}
aside{
  width: 40%;
  height: 100%;
}
