@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@400;700&display=swap');

html{
  height: 100%;
}

h1,h2{
  font-family: 'Press Start 2P'
}
h1{
  margin: 0;
}
h2{
  font-size: 1.2em;
}
p{
  font-family: Quicksand
}
body{
  /* background-color: #0E0E52; */
  margin: 0;
  padding-bottom: 0;
  color: #0E0E52;
  background-image: linear-gradient(to bottom, rgba(75, 75, 150, .7), rgba(255, 255, 255, .5)), url('./bkg.jpg') ;
  background-size: contain, cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
aside{
  width: 75%;
  height: 200px;
  text-align: center;
}
button{
  background: transparent;
  margin: 0 20px 0 20px;
  padding: 5px;
  outline: none;
  border: solid 1px #0E0E52;
  font-family: Quicksand;
  text-transform: uppercase;
}
button:hover{
  cursor: pointer;
  background-color: lightcyan;
}
.board{
  height: 440px;
  width: 200px;
}
.row{
  display: flex
}
.square{
  height: 20px;
  width: 20px;
  border: solid LightCyan 1px;
  background-color: lightblue;
}
.occupied{
  background-color: grey;
}

#score{
  font-weight: bold;
}
