.board{
  border: solid black 1px;
  width: 200px;
}
.row{
  display: flex
}
.square{
  height: 20px;
  width: 20px;
  border: solid black 1px;
  background-color: lightblue;
}
.occupied{
  background-color: grey;
}
.active{
  background-color: red;
}
